<!--{template common/header}-->

<!--{eval $list = array();}-->
<!--{eval $wheresql = category_get_wheresql($cat);}-->
<!--{eval $list = category_get_list($cat, $wheresql, $page);}-->
<div id="pt" class="bm cl">
  <div class="z"> <a href="./" class="nvhm" title="{lang homepage}">$_G[setting][bbname]</a> <em>&rsaquo;</em> <a href="$_G[setting][navs][1][filename]">{lang portal}</a> <em>&rsaquo;</em> 
    <!--{loop $cat[ups] $value}--> <a href="{$portalcategory[$value['catid']]['caturl']}">$value[catname]</a><em>&rsaquo;</em><!--{/loop}--> 
    $cat[catname] </div>
</div>

<!--{ad/text/wp a_t}-->
<style id="diy_style" type="text/css">
</style>
<div class="wp"> 
  <!--[diy=diy1]-->
  <div id="diy1" class="area"></div>
  <!--[/diy]--> 
</div>
<div id="ct" class="ct2 wp cl">
  <div class="mn"> 
    <!--{ad/articlelist/mbm hm/1}--><!--{ad/articlelist/mbm hm/2}--> 
    <!--[diy=listcontenttop]-->
    <div id="listcontenttop" class="area"></div>
    <!--[/diy]-->
	
    <div class="bm">
      <div class="portal_tit cl">
	  <!-- 频道名称在这里-->
        <h1 id='cat'>$cat[catname]</h1>
        <!--{if $_G[setting][rssstatus] && !$_GET['archiveid']}--><a href="portal.php?mod=rss&catid=$cat[catid]" class="y rss" target="_blank" title="RSS">{lang rss_subscribe_this}</a><!--{/if}--> 
        <!--{if ($_G['group']['allowpostarticle'] || $_G['group']['allowmanagearticle'] || $categoryperm[$catid]['allowmanage'] || $categoryperm[$catid]['allowpublish']) && empty($cat['disallowpublish'])}--> 
        <a href="portal.php?mod=portalcp&ac=article&catid=$cat[catid]" class="y add">投稿</a> 
        <!--{/if}--> 
      </div>
      
      <!-- 文章列表 begin -->
      
      <div class="list_new"> 
        <!--{loop $list['list'] $value}--> 
        <!--{eval $highlight = article_title_style($value);}--> 
        <!--{eval $article_url = fetch_article_url($value);}-->
        
        <div class="top_new cl">
          <div class="cl"> 
            <!--{if $value[pic]}-->
            <div class="new_pic">
              <div class="bubba"> <img src="$value[pic]" alt="$value[title]"/>
                <dov class="bubba-con">
                <h2>View more</h2>
                <a href="$article_url" target="_blank">$value[title]</a></div>
            </div>
            <!--{/if}-->
            <div class="new_body">
				<!--新闻列表页的标题在这里-->
				<!--每一篇文章的标题-->
              <h2><a id="list_article_title$value['aid']" href="$article_url" target="_blank" $highlight>$value[title]</a> <!--{if $value[status] == 1}-->({lang moderate_need})<!--{/if}--></h2>
			  
			  <!--文章所属频道-->
              <div class="meta"><!--{if $value[catname] && $cat[subs]}--><span class="meta-class"><a id="list_article_of$value['catid']" href="{$portalcategory[$value['catid']]['caturl']}">$value[catname]</a></span><!--{/if}--><span class="meta-date">$value[dateline]</span> 
                <!--{if $_G['group']['allowmanagearticle'] || ($_G['group']['allowpostarticle'] && $value['uid'] == $_G['uid'] && (empty($_G['group']['allowpostarticlemod']) || $_G['group']['allowpostarticlemod'] && $value['status'] == 1)) || $categoryperm[$value['catid']]['allowmanage']}--> 
                <span><a id="list_article_edit$value['aid']" href="portal.php?mod=portalcp&ac=article&op=edit&aid=$value[aid]">{lang edit}</a></span> <span><ahref="portal.php?mod=portalcp&ac=article&op=delete&aid=$value[aid]" id="list_article_delete_$value[aid]" onClick="showWindow(this.id, this.href, 'get', 0);">{lang delete}</a></span> 
                <!--{/if}--></div>
                
                
                
            <!--新闻列表页的文字在这里-->    
              <p id="list_article_sum$value['aid']">$value[summary]</p>
            </div>
          </div>
        </div>       
        <!--{/loop}--> 
      </div>
      <!-- 文章列表 end --> 
	  
	 <!--开始翻译-->
<script src="http://www.cantecsoft.com/md5/md5.js"></script> 
<script type='text/javascript'>
var id_wen;
setTimeout(trans_normal('cat'),200);

for(i=1;i<100;i++){
	id_wen=i;
	setTimeout(trans_article_title(id_wen),200);
	setTimeout(trans_article_edit(id_wen),200);
	setTimeout(trans_article_sum(id_wen),200);
	setTimeout(trans_article_del(id_wen),200);
	
}

function  trans(from_lan,to_lan,trans_src,id_ch){
	var appid = '20171215000105308';
	var key = 'AXQ8tzsGI1y6mT9AEe0U';
	var salt = (new Date).getTime();
	
	//转换内容md5排序
	var str1 = appid + trans_src + salt +key;
	var sign = MD5(str1);

	$.ajax({
	    url: 'http://api.fanyi.baidu.com/api/trans/vip/translate',
	    type: 'get',
	    dataType: 'jsonp',
		async:false,
	    data: {
		q: trans_src,
		appid: appid,
		salt: salt,
		from: from_lan,
		to: to_lan,
		sign: sign
	    },
		success:function (data) {    
                var result = data.trans_result;     
                var html =decodeURIComponent(result[0].dst);
				document.getElementById(id_ch).innerHTML=html;
				}
	});
}

function trans_normal(i){
	var id_chose_title=i;
	var target_title=document.getElementById(id_chose_title);
	if(target_title){
        var trans_title_src =target_title.innerHTML;
		if(getCookie('language')=='English'){var to_lan = 'en';trans('auto',to_lan,trans_title_src,id_chose_title);}
		if(getCookie('language')=='Japan'){var to_lan = 'jp';trans('auto',to_lan,trans_title_src,id_chose_title);}
		if(getCookie('language')=='Korea'){var to_lan = 'kor';trans('auto',to_lan,trans_title_src,id_chose_title);}
		if(getCookie('language')=='Vietnum'){var to_lan = 'vie';trans('auto',to_lan,trans_title_src,id_chose_title);}
        }
}

function trans_article_title(i){
	var id_chose_title='list_article_title'+i;
	var target_title=document.getElementById(id_chose_title);
	if(target_title){
        var trans_title_src =target_title.innerHTML;
		if(getCookie('language')=='English'){var to_lan = 'en';trans('auto',to_lan,trans_title_src,id_chose_title);}
		if(getCookie('language')=='Japan'){var to_lan = 'jp';trans('auto',to_lan,trans_title_src,id_chose_title);}
		if(getCookie('language')=='Korea'){var to_lan = 'kor';trans('auto',to_lan,trans_title_src,id_chose_title);}
		if(getCookie('language')=='Vietnum'){var to_lan = 'vie';trans('auto',to_lan,trans_title_src,id_chose_title);}
        }
}

function trans_article_edit(i){
	var id_chose_title='list_article_edit'+i;
	var target_title=document.getElementById(id_chose_title);
	if(target_title){
        var trans_title_src =target_title.innerHTML;
		if(getCookie('language')=='English'){var to_lan = 'en';trans('auto',to_lan,trans_title_src,id_chose_title);}
		if(getCookie('language')=='Japan'){var to_lan = 'jp';trans('auto',to_lan,trans_title_src,id_chose_title);}
		if(getCookie('language')=='Korea'){var to_lan = 'kor';trans('auto',to_lan,trans_title_src,id_chose_title);}
		if(getCookie('language')=='Vietnum'){var to_lan = 'vie';trans('auto',to_lan,trans_title_src,id_chose_title);}
        }
}

function trans_article_sum(i){
	var id_chose_title='list_article_sum'+i;
	var target_title=document.getElementById(id_chose_title);
	if(target_title){
        var trans_title_src =target_title.innerHTML;
		if(getCookie('language')=='English'){var to_lan = 'en';trans('auto',to_lan,trans_title_src,id_chose_title);}
		if(getCookie('language')=='Japan'){var to_lan = 'jp';trans('auto',to_lan,trans_title_src,id_chose_title);}
		if(getCookie('language')=='Korea'){var to_lan = 'kor';trans('auto',to_lan,trans_title_src,id_chose_title);}
		if(getCookie('language')=='Vietnum'){var to_lan = 'vie';trans('auto',to_lan,trans_title_src,id_chose_title);}
        }
}
function trans_article_del(i){
	var id_chose_title='list_article_delete_'+i;
	var target_title=document.getElementById(id_chose_title);
	if(target_title){
        var trans_title_src =target_title.innerHTML;
		if(getCookie('language')=='English'){var to_lan = 'en';trans('auto',to_lan,trans_title_src,id_chose_title);}
		if(getCookie('language')=='Japan'){var to_lan = 'jp';trans('auto',to_lan,trans_title_src,id_chose_title);}
		if(getCookie('language')=='Korea'){var to_lan = 'kor';trans('auto',to_lan,trans_title_src,id_chose_title);}
		if(getCookie('language')=='Vietnum'){var to_lan = 'vie';trans('auto',to_lan,trans_title_src,id_chose_title);}
        }
}

 
</script>
      <!--[diy=listloopbottom]-->
      <div id="listloopbottom" class="area"></div>
      <!--[/diy]--> 
    </div>
    <!--{ad/articlelist/mbm hm/3}--><!--{ad/articlelist/mbm hm/4}--> 
    <!--{if $list['multi']}-->
    <div class="pgs cl">{$list['multi']}</div>
    <!--{/if}--> 
    
    <!--[diy=diycontentbottom]-->
    <div id="diycontentbottom" class="area"></div>
    <!--[/diy]--> 
    
  </div>
  <div class="sd pph">
    <div class="drag"> 
      <!--[diy=diyrighttop]-->
      <div id="diyrighttop" class="area"></div>
      <!--[/diy]--> 
    </div>
    
    <!-- 分类 -->
    <div class="list_box cl"> 
      <!--{if $cat[subs]}-->
      
      <div class="portal_tit cl">
        <h2 id='sub_list'>{lang sub_category}</h2>
      </div>
      <div class="portal_sort">
        <ul>
          <!--{loop $cat[subs] $value}-->
          <li><a id="list_sub_$value['catid']" href="{$portalcategory[$value['catid']]['caturl']}">$value[catname]</a></li>
          <!--{/loop}-->
        </ul>
      </div>
      <!--{elseif $cat[others]}-->
      <div class="portal_tit cl">
        <h2>{lang category_related}</h2>
      </div>
      <div class="portal_sort">
        <ul>
          <!--{loop $cat[others] $value}-->
          <li><a href="{$portalcategory[$value['catid']]['caturl']}">$value[catname]</a></li>
          <!--{/loop}-->
        </ul>
      </div>
      
      <!--{/if}--> 
    </div>
<!--开始翻译右边分类缩略-->
<script type='text/javascript'>
for(i=1;i<100;i++){
	id_wen=i;
	setTimeout(trans_list_sub(id_wen),200);	
}
setTimeout(trans_normal('sub_list'),200);
function trans_list_sub(i){
	var id_chose_title='list_sub_'+i;
	var target_title=document.getElementById(id_chose_title);
	if(target_title){
        var trans_title_src =target_title.innerHTML;
		if(getCookie('language')=='English'){var to_lan = 'en';trans('auto',to_lan,trans_title_src,id_chose_title);}
		if(getCookie('language')=='Japan'){var to_lan = 'jp';trans('auto',to_lan,trans_title_src,id_chose_title);}
		if(getCookie('language')=='Korea'){var to_lan = 'kor';trans('auto',to_lan,trans_title_src,id_chose_title);}
		if(getCookie('language')=='Vietnum'){var to_lan = 'vie';trans('auto',to_lan,trans_title_src,id_chose_title);}
        }
}
	

</script>
	
    <div class="list_box">
    <div class="list_focuss cl">

            <!--[diy=jeavi_list_focuss]-->
            <div id="jeavi_list_focuss" class="area"></div>
            <!--[/diy]--> 

          
        </div>
        <script type="text/javascript">jQuery(".list_focuss").slide({titCell:".hd ul",mainCell:".bd ul", effect:"left", delayTime:800,vis:1,scroll:1,easing:"easeOutCubic",autoPage:true,autoPlay:true  });</script>
    </div>

    
    <!-- 推荐阅读 -->
    <div class="sbody cl"> 
      <!--[diy=sbody]-->
      <div id="sbody" class="area"></div>
      <!--[/diy]--> 
    </div>
    

  <!-- 文章排行 -->
    <div class="hbody mb30 cl">
      <div class="portal_tit hd cl"> 
        
        <!--[diy=hbodytit]-->
        <div id="hbodytit" class="area"></div>
        <!--[/diy]--> 
      </div>
      <div class=" bd">
        <ul>
          <!--[diy=hbody]-->
          <div id="hbody" class="area"></div>
          <!--[/diy]-->
        </ul>
        <ul>
          <!--[diy=hbody1]-->
          <div id="hbody1" class="area"></div>
          <!--[/diy]-->
        </ul>
      </div>
    </div>
    <script type="text/javascript">jQuery(".hbody").slide({ titCell:".hd li", mainCell:".bd",delayTime:0 });</script> 
    

    <div class="list_box cl" id="r_ad"> 
      
      <!--[diy=list_ad]-->
      <div id="list_ad" class="area"></div>
      <!--[/diy]--> 
      
    </div>
    <div class="drag"> 
      <!--[diy=diy2]-->
      <div id="diy2" class="area"></div>
      <!--[/diy]--> 
    </div>
  </div>
</div>
<div class="wp mtn"> 
  <!--[diy=diy3]-->
  <div id="diy3" class="area"></div>
  <!--[/diy]--> 
</div>


<script type="text/javascript">

jQuery(function() { 
    var elm = jQuery('#r_ad'); 
    var startPos = jQuery(elm).offset().top; 
    jQuery.event.add(window, "scroll", function() { 
        var p = jQuery(window).scrollTop(); 
        jQuery(elm).css('position',((p) > startPos) ? 'fixed' : 'static'); 
        jQuery(elm).css('top',((p) > startPos) ? '80px' : ''); 
    }); 
});

function fRandomBy(under, over){ 
   switch(arguments.length){ 
     case 1: return parseInt(Math.random()*under+1); 
     case 2: return parseInt(Math.random()*(over-under+1) + under); 
     default: return 0; 
   } 
} 
</script>

 
</script>




<!--{template common/footer}-->